{% extends "base.html.twig" %}

{% block body %}
	<a href="{{ path('mainpage') }}"><img class="backSize" src="{{ asset('assets/images/back.png') }}"></a>
	{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('album_update', {id: album.id}) }}"><img class="addSong" src="{{ asset('assets/images/update.png') }}"></a>
	<a href="{{ path('album_delete', {id: album.id}) }}"><img class="addSong" src="{{ asset('assets/images/delete1.png') }}"></a>
	<a href="{{ path('song_create', {id: album.id}) }}"><img class="addSong" src="{{ asset('assets/images/add.png') }}"></a>
	{% endif %}
	<div class="all">
		<div class="ratioImageView">
			<img class="responsiveAlbumView" src="{{asset('assets/images/'~ album.brochure)}}">
			<h2 class="artistRight">{{ album.artist }}</h2>

			<div class="description">
				<ul>
					<li class="titleList centerList">{{ album.title }}</li>
					<li class="centerList">{{ album.description }}</li>
				</ul>
			</div>
		</div>
		<div class="displaySong">
			<div class="listSong">
				<ul>
					{% for song in album.songs %}
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('song_delete', {id: song.id}) }}"><img class="deleteSong" src="{{ asset('assets/images/delete1.png') }}"></a>
						{% endif %}
						<li class="fontSizeSong">{{ song.title }}</li>
					{% endfor %}
				</ul>
			</div>
			<p class="listeningTime">{{ album.listeningTime }}</p>
		</div>
	</div>
	
{% endblock %}
